<!DOCTYPE html>
<html lang="en">


<!-- molla/dashboard.html  22 Nov 2019 10:03:13 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Snap Buy</title>
    <meta name="keywords" content="SNAP BUY">
    <meta name="description" content="E-Commerce">
    <meta name="author" content="Tiago Jorge">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="public/images/logo_pequeno.png">
    <link rel="icon" type="image/png" sizes="32x32" href="public/images/logo_pequeno.png">
    <link rel="icon" type="image/png" sizes="16x16" href="public/images/logo_pequeno.png">
    <link rel="manifest" href="public/images/icons/site.html">
    <link rel="mask-icon" href="public/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="public/images/logo_pequeno.png">
    <meta name="apple-mobile-web-app-title" content="Snap Buy">
    <meta name="application-name" content="Snap Buy">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="public/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="public/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="public/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="public/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="public/css/plugins/jquery.countdown.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="public/css/style.css">
    <link rel="stylesheet" href="public/css/skins/skin-demo-13.css">
    <link rel="stylesheet" href="public/css/demos/demo-13.css">
</head>

<body>
    <div class="page-wrapper">
        <header class="header header-10 header-intro-clearance">
        

            <div class="header-middle">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Menu</span>
                            <i class="icon-bars"></i>
                        </button>
                        
                        <a href="/" class="logo">
                            <img src="public/images/demos/demo-13/logo2.png" alt="SnapbBuy Logo" width="105" height="25">
                        </a>
                    </div><!-- End .header-left -->

                    <div class="header-center">
                   
                    </div>

                    <div class="header-right">
                        <div class="header-dropdown-link">
                           
                            <div class="dropdown cart-dropdown">
                            <a href="/favoritos" class="wishlist-link">
                                <i class="icon-heart-o"></i>
                                <%if(nrFav>0){%>
                                    <span class="wishlist-count"><%=nrFav%></span>
                                   <%}%>
                                <span class="wishlist-txt">Favoritos   </span>
                            </a>&nbsp;
                
                            
                                <a href="/cart" class="dropdown-toggle" >
                                    <i class="icon-shopping-cart"></i>
                                    <%if(nrProd>0){%>
                                    <span class="cart-count"><%=nrProd%></span>
                                   <%}%>
                                    <span class="cart-txt">Carrinho</span>
                                </a>
                            
                                
                            </div>
                        </div>

                       


                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('public/images/page-header-bg.jpg')">
        		<div class="container">
                    <h1 class="page-title">Minha Conta<span>Utilizador</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
               
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="dashboard">
	                <div class="container">
	                	<div class="row">
	                		<aside class="col-md-4 col-lg-3">
	                			<ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
								   
								    <li class="nav-item">
								        <a class="nav-link active" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false">Encomendas</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false">Dados de Envio</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="false">Conta</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" href="/sair">Sair</a>
								    </li>
								</ul>
	                		</aside><!-- End .col-lg-3 -->

	                		<div class="col-md-8 col-lg-9">
	                			<div class="tab-content">
								    <div class="tab-pane fade show active" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link" >
                                        <% if (encomendas.length>0){%>
                                            <table class="table table-striped" >
                                                <thead>
                                                  <tr >
                                                    <th>Nº Encomenda</th>
                                                    <th>Data</th>
                                                    <th>Estado</th>
                                                    <th>Total</th>
                                                    <th>* </th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                 <!--Preenche a tabela com as encomendas do utilizador-->
                                                    <%let i = 0;%>
                                                    <%while(i<encomendas.length){%>
                                                        <% let data = encomendas[i].data%>
                                                        <tr>
                                                            <td> <%=encomendas[i].id%>     </td>
                                                            <!--Formata a data de maneira a ficar melhor visualmente-->
                                                            <td> <%=data.getDate() + "/" + parseInt(data.getMonth()+ 1) + "/"+ data.getFullYear()%></td>
                                                            <td> <%=encomendas[i].estado%> </td>
                                                            <td> <%=encomendas[i].total%>€</td>
                                                            <!--Executa a função do ficheiro modal.js para preencher os produtos por encomenda-->
                                                            <td  onclick="encomenda('<%=JSON.stringify(infoProd)%>','<%=JSON.stringify(produtos)%>','<%=encomendas[i].id%>','<%=JSON.stringify(encomendas)%>',2)"><a href="#encomenda-modal" data-toggle="modal"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrows-angle-expand" viewBox="0 0 16 16"> 
                                                                <path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707m4.344-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707"/>
                                                              </svg></a>
                                                            </td>
                                                        </tr>
                                                       <%i+=1}%>
                                                </tbody>
                                              </table>
                                            <%}else{%>
                                                <p>Sem Encomendas.</p>
                                                <a href="/" class="btn btn-outline-primary-2"><span>LOJA</span><i class="icon-long-arrow-right"></i></a>
                                            <%}%>
								    </div><!-- .End .tab-pane -->
								    <div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link" >
                                        <% if (msgM) { %>
                                            <div class="alert alert-primary" >
                                                <%= msgM %>
                                            </div>
                                            <br>
                                        <% }else{%>
                                                <p> </p>
                                       <% } %>
                                       <!--Quadrado com as informações-->
								    	<div class="row">
								    		<div class="col-lg-6">
								    			<div class="card card-dashboard">
								    				<div class="card-body">
								    					<h3 class="card-title">Dados de Envio</h3><!-- End .card-title -->
														<p>
														 <%= dados.morada %> <br>
														 <%= dados.codpost %><br>
														<%= dados.cidade %>,<br>
														<%= dados.pais %><br>
														
														<a href="#edit-modal" data-toggle="modal">Editar <i class="icon-edit"></i></a></p>
								    				</div><!-- End .card-body -->
								    			</div><!-- End .card-dashboard -->
								    		</div><!-- End .col-lg-6 -->
								    	</div><!-- End .row -->
								    </div><!-- .End .tab-pane -->
								    <div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
                                        <!--Editar dados-->
								    	<form action="/conta" method="POST">
                                            <label>Nome *</label>
		        							<input type="text" class="form-control" id="cnome" name="cnome" value="<%= dados.nome %>" required>
		                					<label>Email  *</label>
		        							<input type="email" class="form-control" id="cemail" name="cemail" value="<%= dados.email %>" required>
                                            <label>Telemovel  *</label>
		        							<input type="text" class="form-control" id="ctel" name="ctel" value="<%= dados.telemovel %>" inputmode="numeric" pattern="[0-9]*"  required> 
		            						<label>Password Atual (deixar em branco para não alterar)</label>
		            						<input type="password" class="form-control"  name="cpass" id="cpass">
		            						<label>Password Nova (deixar em branco para não alterar)</label>
		            						<input type="password" class="form-control" name="cpassn" id="cpassn">
		            						<label>Confirmar Password Nova</label>
		            						<input type="password" class="form-control mb-2" name="ccpassn" id="ccpassn">
		                					<button type="submit" class="btn btn-outline-primary-2">
			                					<span>Guardar</span>
			            						<i class="icon-long-arrow-right"></i>
			                				</button>
			                			</form>
								    </div><!-- .End .tab-pane -->
								</div>
	                		</div><!-- End .col-lg-9 -->
	                	</div><!-- End .row -->
	                </div><!-- End .container -->
                </div><!-- End .dashboard -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->


       
        <footer class="footer footer-2">
           

            <div class="footer-middle border-0">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            <div class="widget widget-about">
                                <!-- Aqui1-->
                                <img src="public/images/demos/demo-13/logo2.png" alt="SnapbBuy Logo" width="200" height="100">

                                <!--Aqui1-->
                                <div class="widget-about-info">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                            <span class="widget-about-title">Tem uma duvida?</span>
                                            <a href="tel:+351960208974">+351960208974</a>
                                        </div><!-- End .col-sm-6 -->
                                      
                                    </div><!-- End .row -->
                                </div><!-- End .widget-about-info -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-12 col-lg-3 -->
                        <!-- Aqui 3-->
                        <div class="col-sm-4 col-lg-2">
                         
                        </div><!-- End .col-sm-64 col-lg-3 -->
                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">Informação</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="/sobre">Sobre Nós</a></li>
                                    <li><a href="/">Pagina Principal</a></li>
                                    <li><a href="/faq">FAQ</a></li>
                                    <li><a href="/registar">Entrar/Registar</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-3 -->

                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">Apoio ao Cliente</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="/faq#faqPagamentos">Metedos de pagamento</a></li>
                                    <li><a href="/faq#faqEncmPergunta3">Politica de devoluções</a></li>
                                    <li><a href="/faq#faqEncmPergunta3">Devoluções</a></li>
                                    <li><a href="/faq#faqEncomendas">Encomendas</a></li>
                                    <li><a href="/faq#faqInfoPergunta3">Taxas</a></li>
                                    <li><a href="/faq#faqEncmPergunta2">Atrasos</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-3 -->

                        
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->
                        <!-- Aqui 3-->

            <div class="footer-bottom">
                <div class="container" style="display:flex;justify-content: center;">
                    <p class="footer-copyright">Copyright © 2024 SnapBuy. Todos os direitos reservados.</p><!-- End .footer-copyright -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container mobile-menu-light">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>
            

            <ul class="nav nav-pills-mobile nav-border-anim" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="mobile-menu-link" data-toggle="tab" href="#mobile-menu-tab" role="tab" aria-controls="mobile-menu-tab" aria-selected="true">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="mobile-cats-link" data-toggle="tab" href="#mobile-cats-tab" role="tab" aria-controls="mobile-cats-tab" aria-selected="false">Categorias</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="mobile-menu-tab" role="tabpanel" aria-labelledby="mobile-menu-link">
                    <nav class="mobile-nav">
                        <ul class="mobile-menu">
                            <%if(login == true){%>
                            <li>
                                <a href="#edit-modal" data-toggle="modal" >Junta-te á Snap Buy!</a>

                               
                            </li>
                           <%}%>
                            <li>
                                <a href="/faq">FAQs</a>

                            </li>
                            <li>
                                <a href="/sobre">Sobre Nós</a>

                            </li>
                           
                        </ul><!-- End .menu -->
                    </nav><!-- End .mobile-nav -->
                </div><!-- .End .tab-pane -->
                <div class="tab-pane fade" id="mobile-cats-tab" role="tabpanel" aria-labelledby="mobile-cats-link">
                    <nav class="mobile-cats-nav">
                        <ul class="mobile-cats-menu">
                            <%let i = 0;%>
                            <%let cat = categoria;%>
                            <%while(i<cat.length){%>
                            <li><a class="mobile-cats-lead" href="/cat=<%=cat[i].id%>"><%=cat[i].nome%></a></li>
                            <%i+=1}%>
                        </ul><!-- End .mobile-cats-menu -->
                    </nav><!-- End .mobile-cats-nav -->
                </div><!-- .End .tab-pane -->
            </div><!-- End .tab-content -->

        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->

    <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="edit-tab" data-toggle="tab"  role="tab" aria-controls="signin" aria-selected="true">Editar Morada</a>
                                </li>
                            
                            </ul>
                            <div class="tab-content" id="tab-content-5">
                                <div class="tab-pane fade show active" id="edit" role="tabpanel" aria-labelledby="edit-tab">
                                    <form action="/morada" method="POST">
                                        <div class="form-group">
                                            <label for="rua">Rua</label>
                                            <% let rua = dados.morada.split(",") %>                          
                                                    <input type="text" class="form-control" id="rua" name="rua" value="<%= rua[0].trim() %>" required>
                                        </div><!-- End .form-group -->
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label for="nr">Nº</label>
                                                    <input type="text" class="form-control" inputmode="numeric" pattern="[0-9]*" id="nr" name="nr" value="<%= rua[1].trim() %>" required> 
                                                </div><!-- End .col-sm-6 -->
            
                                                <div class="col-sm-6">
                                                    <label for="codpost" >Codigo Postal</label>
                                                    <input type="text" class="form-control" id="codpost" name="codpost" value="<%= dados.codpost %>" required>
                                                </div><!-- End .col-sm-6 -->
                                            </div><!-- End .row -->
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label for="cidade">Cidade</label>
                                                    <input type="text" class="form-control" id="cidade" name="cidade" value="<%= dados.cidade %>" required>
                                                </div><!-- End .col-sm-6 -->
            
                                                <div class="col-sm-6">
                                                    <label for="pais" >Pais</label>
                                                    <input type="text" class="form-control" id="pais" name="pais"  value="<%= dados.pais %>" required>
                                                </div><!-- End .col-sm-6 -->
                                            </div><!-- End .row -->
                                        </div><!-- End .form-group -->

                                        

                                        <div class="form-footer">
                                            <button  type="submit"  class="btn btn-outline-primary-2">
                                                <span>Guardar</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                        </div><!-- End .form-footer -->
                                    </form>
                                   
                                </div><!-- .End .tab-pane -->
                                
                            </div><!-- End .tab-content -->
                        </div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .modal-body -->
            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->
    <div class="modal fade" id="encomenda-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="edit-tab" data-toggle="tab"  role="tab" aria-controls="signin" aria-selected="true">Resumo da Encomenda</a>
                                </li>
                            
                            </ul>
                            <div class="tab-content" id="tab-content-5">
                                <div class="tab-pane fade show active" id="edit" role="tabpanel" aria-labelledby="edit-tab">
                                       <div class="form-group">
                                            <label for="destino"><b>Destino</b></label>   <br>                   
                                                    <span id="destino" name="destino"></span>
                                        </div><!-- End .form-group -->
                                        <div class="form-group">
                                            
                                                <table id="encTable" name="encTable" class="table table-cart table-mobile">
                                                    <thead>
                                                        <tr>
                                                            <th>Produto</th>
                                                            <th>Preço</th>
                                                            <th>Quantidade</th>
                                                            <th>Total</th>
                                                        </tr>
                                                    </thead>
                
                                                    <tbody>
                                                     
                                                           
                                                    </tbody>
                                                </table><!-- End .table table-wishlist -->
                                            <form action="" method="GET" id="encID" name="encID">  
                                                <button  type="submit"  class="btn btn-outline-primary-2">
                                                    <span>Enviar</span>
                                                    <i class="icon-long-arrow-right"></i>
                                                </button>
                                            </form>  
                                        </div><!-- End .form-group -->

                                      

                                            


                                    
                                   
                                </div><!-- .End .tab-pane -->
                                
                            </div><!-- End .tab-content -->
                        </div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .modal-body -->
            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->
    <div class="modal fade" id="encomenda2-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="edit-tab" data-toggle="tab"  role="tab" aria-controls="signin" aria-selected="true">Resumo da Encomenda</a>
                                </li>
                            
                            </ul>
                            <div class="tab-content" id="tab-content-5">
                                <div class="tab-pane fade show active" id="edit" role="tabpanel" aria-labelledby="edit-tab">
                                       <div class="form-group">
                                            <label for="destino2"><b>Destino</b></label>   <br>                   
                                                    <span id="destino2" name="destino2"></span>
                                        </div><!-- End .form-group -->
                                        <div class="form-group">
                                            
                                                <table id="encTable2" name="encTable2" class="table table-cart table-mobile">
                                                    <thead>
                                                        <tr>
                                                            <th>Produto</th>
                                                            <th>Preço</th>
                                                            <th>Quantidade</th>
                                                            <th>Total</th>
                                                        </tr>
                                                    </thead>
                
                                                    <tbody>
                                                     
                                                           
                                                    </tbody>
                                                </table><!-- End .table table-wishlist -->
                                        </div><!-- End .form-group -->

                                      

                                            


                                    
                                   
                                </div><!-- .End .tab-pane -->
                                
                            </div><!-- End .tab-content -->
                        </div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .modal-body -->
            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->
    <!-- Plugins JS File -->
    <script src="public/js/jquery.min.js"></script>
    <script src="public/js/bootstrap.bundle.min.js"></script>
    <script src="public/js/jquery.hoverIntent.min.js"></script>
    <script src="public/js/jquery.waypoints.min.js"></script>
    <script src="public/js/superfish.min.js"></script>
    <script src="public/js/owl.carousel.min.js"></script>
    <script src="public/js/bootstrap-input-spinner.js"></script>
    <script src="public/js/jquery.elevateZoom.min.js"></script>
   <!--  <script src="public/js/jquery.magnific-popup.min.js"></script> -->
    <!-- Main JS File -->
    <script src="public/js/main.js"></script>
    <script src="public/js/modal.js"></script>
</body>


<!-- molla/dashboard.html  22 Nov 2019 10:03:13 GMT -->
</html>